.media-icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.media-icons a {
  height: 52px;
  width: 52px;
  border-radius: 100%;
  background: #2D3748;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
}

.media-icons a:hover {
  animation: funrotation .4s 1 ease-in-out;
}

.funrotation a:hover {
  animation: funrotation .4s 1 ease-in-out;
}

@keyframes funrotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #151A23;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body, html {
    overflow-x: hidden;
}
body, html {
    overflow-x: hidden;
}
body {
    padding-bottom: 30px;
}
header span:hover, .card:hover {
    cursor: pointer;
    transition-duration: 0.2s;
}
header span {
    transition: background-color 75ms ease-in-out;
    transition: box-shadow 75ms ease-in-out;
}
.card {
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}
.card:hover {
    transform: rotate(2deg);
}
#splashIcon {
    transform: translateY(-60%);
}
#list {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, 320px);
    grid-gap: 50px;
    justify-content:center;
    margin-top: 300px;
}
* {
    user-select: none;
}
.partner-title {
    display: none;
}
.hexabild-icon {
    border-radius: 0.5rem;
    background-image: linear-gradient(to right, #6366f1, #a855f7, #e74694);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #fff;
    box-shadow: 0 8px 18px rgba(168, 85, 247, 0.35);
}
@media only screen and (max-width: 600px) {
    #list {
        grid-gap: 30px;
        margin-top: 220px;
    }
}
